div.delivery-address {
    position: relative;

    input {
        padding-right: 55.6px;
    }

    button.clear {
        position: absolute;
        top: 0;
        right: 0;
        background: transparent;
        border: transparent;
        height: 100%;
        padding: 0 10px;
        color: #C3C4C5;
    }
}

div.alert.alert-danger {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}

div.block{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px 20px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 1px rgba(180, 188, 194, 0.18);

    div.image-container{
        height: 75px;
        width: 75px;
        margin-right: 10px;
        
        img{
            height: 100%;
            width: 100%;
            object-fit: contain;
            border-radius: 4px;            
        }
    }

    div.details span{
        display: block;
    }
}

div.checkout-title{
    padding: 0 23px;
    background: #457fca;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5691c8, #457fca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 75px;

    div.contain-me{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        max-width: 1140px;
        padding: 0 15px;
        height: 100%;
        margin: 0 auto;
    }

    a{
        position: absolute;
        top: 20%;
        left: -15px;
        padding: 15px;
        cursor: pointer;

        span{
            color: #fff;
            font-size: 20px;
            text-shadow: 2px 2px 3px rgba(28, 76, 89, 0.15);
        }
    }

    h1{
        color: #fff;
        font-size: 28px;
        text-shadow: 2px 2px 3px rgba(28, 76, 89, 0.15);
    }
}


div.checkout-body{
    background-color: #F6FAFD;
    height: calc(100vh - 75px - 58px);
    overflow-y: scroll;

    &.no-items{
        height: calc(100vh - 75px);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        div.image-container{
            height: 285px;
            width: 285px;
            margin-bottom: 10px;

            img{
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }

        div.content{
            text-align: center;
            
            h1{
                color: darken(#C3C4C5, 6%);
                font-size: 24px;
                margin-bottom: 20px;
            }

            a{
                display: block;
                font-size: 20px;
                background: #17ad90;
                padding: 10px 25px;
                color: #fff;
                border-radius: 4px;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }

    div.order-review-title{
        padding: 30px 0 0 0;
        margin-bottom: 15px;

        h1{
            font-size: 18px;
        }
    }

    div.boxed-orders{
        padding-bottom: 68px; 

        div.boxed-order-body{
            background: #fff;
            border-radius: 4px;
            box-shadow: 0px 1px 3px 1px rgba(180, 188, 194, 0.18);
            
            ul{
                list-style: none;
                width: 100%;

                li{
                    width: 100%;
                    padding: 15px 20px;

                    div.item{
                        display: flex;
                        align-items: flex-start;

                        div.item-image{
                            height: 80px;
                            width: 80px;
                            margin-right: 10px;

                            img{
                                height: 100%;
                                width: 100%;
                                object-fit: cover;
                                border-radius: 4px;
                            }
                        }

                        div.content{
                            height: 100%;
                            width: calc(100% - 80px);

                            div.item-name{
                                margin-bottom: 2px;
                                h4{
                                    font-size: 16px;
                                    font-weight: 600;
                                }
                            }

                            div.item-quantity{
                                p{
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
            }

            div.amount-payable{
                padding: 15px 20px;
                width: 100%;

                div.amt{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-bottom: 15px;

                    &:last-child{
                        margin-bottom: 0px;
                    }

                    div.left{
                        width: 50%;
                    }

                    div.right{
                        width: 50%;
                        text-align: right;
                    }

                    div.left, div.right{
                        h4{
                            font-size: 14px;
                        }

                        h4.boldy{
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}