<app-navigation></app-navigation>>
<iframe src="/kitchen/menu-items" style="height:600px;width:100%;"></iframe>
<div class="page-holder">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center confirmation">
          Success!
        </h1>
      </div>
  </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-primary btn-block" [routerLink]="['/events']">
          View Coupons
        </button>
      </div>
    </div>
  </div>
</div>