<div class="full-page">
  <div class="image-container">
    <img src="/assets/images/logos/ekitchen.png" alt="">
  </div>
  <div class="content">
    <h1>Coming Soon!</h1>
    <p>
      We are a Turnkey Food solution company that is focusing mainly on linking diners with a meal plan offering an easy, one stop shop. Providing the best personalized offers and deals to save on dining experiences.
    </p>
  </div>

  <div class="partners">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4" *ngFor="let partner of partners">
          <div class="partner-container">
            <img src="{{partner.img}}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>